<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Logs for gallery-dl-server" />

  <title>Logs — gallery-dl-server</title>

  <link rel="stylesheet" href="/static/styles/common.css?v=0.2.0" />
  <link rel="stylesheet" href="/static/styles/logs.css?v=0.2.0" />

  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📦</text></svg>">
</head>

<body>
  <pre id="logs">{{ logs }}</pre>
  <script src="/static/scripts/logs.js?v=0.2.0"></script>
</body>

</html>
